@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-raleway: Raleway;
  --paragraph: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --paragraph-size: 16px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-41xl: 60px;

  /* Colors */
  --color-darkslategray: #2d344b;
  --color-gray-100: #252432;
  --color-white: #fff;
  --color-black: #000;
  --color-lightslategray: #8987a1;
  --color-lavender: #d6dded;

  /* Paddings */
  --padding-176xl: 195px;
  --padding-457xl: 476px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
}
